# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CityPathWithAngular.iml
# Datasource local storage ignored files
/../../../../../../../../../:\studia\miobd\projekt\CityPathWithAngular\CityPathWithAngular\.idea\.idea.CityPathWithAngular\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
