<h4 class="mb-5">Wybierz miejsca od i do</h4>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="From">Od:</label>
            <select class="custom-select" id="From" [(ngModel)]="request.from">
                <option [value]="name" *ngFor="let name of placesFrom">{{name}}</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="To">Do:</label>
            <select class="custom-select" id="To" [(ngModel)]="request.to">
                <option [value]="name" *ngFor="let name of placesTo">{{name}}</option>
            </select>
        </div>
    </div>
</div>

<button class="btn btn-success" *ngIf="request.from && request.to" (click)="FindTrack()">Znajdz trase</button>

<br>
<div class="alert alert-success" role="alert" *ngIf="totalCost">
    Znaleziono trase, całkowity dymstans: {{totalCost}}m
</div>

<table class="table table-sm" *ngIf="tracksRows?.length>0">
    <thead>
        <tr>
            <th scope="col">Krok</th>
            <th scope="col">Od</th>
            <th scope="col">Do</th>
            <th scope="col">Dystans</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trackRow of tracksRows; let i = index">
            <th scope="row">{{trackRow.index}}</th>
            <td>{{trackRow.from}}</td>
            <td>{{trackRow.to}}</td>
            <td>{{trackRow.cost}}</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-danger" role="alert" *ngIf="noPath">
    Nie znaleziono trasy dla pomiędzy wybranymi pumktami
</div>